<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="https://logodix.com/logo/1577263.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- change path when deployed or on local env -->
    <link rel="stylesheet" href="/styles.css">
    <title>Fuel Quote Form</title>
</head>

<body>
    <header>

        <nav>
            <img src="https://logodix.com/logo/1577263.png" alt="UH">
            <!-- change path when deployed or on local env -->
            <div>
                <a href="/fuelQuoteHistory.ejs/<%=user._id%>">Fuel Quote History</a>
                <a href="/profMngment.ejs/<%=user._id%>">Manage Profile</a>
            </div>

        </nav>
    </header>

    <form action="?_method=PATCH" method="POST">
        <h1>Fuel Quote Form</h1>
        <div>
            <label for="gallonsRequested">Gallons Requested</label>
            <input type="number" name="gallonsRequested" id="gallonsRequested" min="0" required>
        </div>
        <div>
            <label for="address">Delivery Address</label>
            <input type="text" name="address" id="address" value="<%=user.userAddress1%>" readonly>
            <!-- inser Non-editable address, comes from client profile-->
        </div>
        <div>
            <label for="deliveryDate">Delivery date</label>
            <input type="date" name="deliveryDate" id="deliveryDate" required>
        </div>
        <div>
            <label for="price">Suggested Price / Gallon</label>
            <!-- replace value with %<=sugestP%> -->
            <% if(user.userState=='TX' ){lFactor=.02 }else{ lFactor=.04}%>
                <% if(user.hist.length){hFactor=.01} %>
                    <%if(user.gallonsRequested> 1000){gFactor = .02}else{gFactor = .03}%>
                        <input type="number" name="price" id="price"
                            value="<%= lFactor*ppFactor - hFactor*ppFactor + pFactor*ppFactor + gFactor*ppFactor + ppFactor;%>"
                            readonly>
                        <!-- display numeric non-editable, price will be calculated by Pricing Module - we are not building pricing module yet -->
        </div>
        <div>
            <label for="total">Total Amount Due</label>
            <input type="number" name="total" id="total"
                value="<%=((lFactor - hFactor + gFactor + pFactor) * ppFactor + ppFactor)*1000%>" readonly>
            <!-- display numeric non-editable, calculated (gallons * price) -->
        </div>

        <button type="button" id="getQuote">Get Quote</button>
        <button>Submit</button>
    </form>
    <script src="/app.js"></script>
</body>

</html>
