<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile Management Page </title>

    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!--<div class="col-m-10 p-5"></div>
 <h1  class = "bg-primary">Profile Management</h1> -->
    <div class="header">
        <h1>Profile Management</h1>
    </div>

    <div class="nonheader">
        <h2> Hello there, welcome to the profile completion page. Please fill in the information required below </h2>
        <br><!-- /?_method=PATCH  ... for some reason in action i just put the method and not the dir-->
        <form id="profMngForm" action="?_method=PATCH" method="POST">
            <div>
                <label for="name">Full Name: </label>
                <input type="text" name="fullName" id="fullName" <% if(user.fullName=='' ){ %>
                placeholder="Enter full name here"
                <% }else{ %>
                    value="<%=user.fullName%>"
                        <% } %>
                            maxlength="50" required>
            </div>
            <br>
            <div>
                <label for="userAddress1">Address 1: </label>
                <input type="text" name="userAddress1" id="userAddress1" <% if(user.userAddress1=='' ){ %>
                placeholder="Enter Address 1 here"
                <% }else{ %>
                    value="<%=user.userAddress1%>"
                        <% } %>
                            maxlength="100" required>
            </div>
            <br>
            <div>
                <label for="userAddress2">Address 2: </label>
                <input type="text" name="userAddress2" id="userAddress2" <% if(user.userAddress2=='' ){ %>
                placeholder="Enter Address 1 here"
                <% }else{ %>
                    value="<%=user.userAddress2%>"
                        <% } %>
                            maxlength="100">
            </div>
            <br>
            <div>
                <label for="City">City: </label>
                <input type="text" name="userCity" id="userCity" <% if(user.userCity=='' ){ %>
                placeholder="Enter City here"
                <% }else{ %>
                    value="<%=user.userCity%>"
                        <% } %> maxlength="100">
            </div>
            <br>
            <div>
                <label for="State">State: </label>
                <select name="userState" id="userState">
                    <option value="State">TX</option>
                    <option value="State">CA</option>
                    <option value="State">NY</option>
                </select>
            </div>
            <br>
            <div>
                <label for="ZipCode">ZipCode: </label>
                <input type="text" name="userZipcode" id="userZipcode" <% if(user.userZipcode==null ){ %>
                placeholder="Enter Zip Code here"
                <% }else{ %>
                    value="<%=user.userZipcode%>"
                        <% } %> minlength="5"
                            maxlength="8">
            </div>
            <br>
            <div class="form-submit">
                <button>submit</button>
            </div>
        </form>
    </div>
    </div>
    <div id="content">
        <img src="https://logodix.com/logo/1577263.png" alt="UH Logo">
    </div>
    <a href="/fuelQuoteForm.ejs/<%=user._id%>" id="homePageLink">Back to home page</a>
    <!-- <script src="/script.js"></script> -->
</body>

</html>
